# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
release
release-assets
*.AppImage
*.exe
*.run
*.blockmap
*.local
*firebase*.json
*-adminsdk-*.json
f0dd08c5-8a7a-4602-b71b-022bb4a87384.png
Screenshot*.png

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.env*
